{{#unless songs}}
<h4>Nothing here :( Follow your friends!</h4>
{{/unless}}
{{#each songs}}
    <div class="share">
        <img src="{{this.album.images.[0].url}}" alt="album art" width="100" height="100">
        "{{this.name}}" by
        {{#each this.artists}}
            {{this.name}}
        {{/each}}
        {{#unless ../profile}}
            Shared by <a href="/user/{{this.user.username}}">{{this.user.username}}</a> to {{#if this.mention}}<a href="/user/{{this.mention.username}}">{{this.mention.username}}</a>{{else}}the World{{/if}}
        {{/unless}}
        {{#ifEquals ../currentUser._id this.user._id}}
            <button class="delete-button" data-spotify-song-id={{this.id}} data-user-id={{this.user._id}} type="button" name="delete">Delete</button>
        {{/ifEquals}}
        <hr>
    </div>
{{/each}}
