{{#unless songs}}
    <h4>Nothing here :( Follow your friends!</h4>
{{/unless}}
{{#each songs}}
    <div class="share">
        <img src="{{this.album.images.[0].url}}" alt="album art" width="124" height="124">

        <div class="details">
            <div class="song-info">
                <div class="song-name">{{this.name}}</div>
                <div class="artist">{{this.artists.[0].name}}</div>
            </div>
            <div class="share-message">Shared by <a class="user" href="/user/{{this.user.username}}">{{this.user.username}}</a> to {{#if this.mention}}<a class="mention" href="/user/{{this.mention.username}}">{{this.mention.username}}</a>{{else}}{{#ifEquals this.privacy 0}}<a class="mention">the World</a>{{else}}<a class="mention">their Followers</a>{{/ifEquals}}{{/if}}</div>
        </div>
        <div class="right-container">
            {{#ifEquals ../currentUser._id this.user._id}}
                <button class="delete-button" data-spotify-song-id={{this.id}} data-user-id={{this.user._id}} type="button" name="delete">
                    DELETE
                </button>
            {{/ifEquals}}
            </div>
    </div>
{{/each}}
