{{#each songs}}
    <div class="share">
        <img src="{{this.album.images.[0].url}}" alt="album art" width="100" height="100">
        "{{this.name}}" by
        {{#each this.artists}}
            {{this.name}}
        {{/each}}
        {{#unless ../profile}}
            <a href="/user/{{this.user.username}}">Shared by {{this.user.username}}</a>
        {{/unless}}
        {{#ifEquals ../currentUser._id this.user._id}}
            <button class="delete-button" data-spotify-song-id={{this.id}} data-user-id={{this.user._id}} type="button" name="delete">Delete</button>
        {{/ifEquals}}
        <hr>
    </div>
{{/each}}
