{{#if currentUser}}
    <a href="/logout">Logout</a>
{{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
{{/if}}

<h1>What's Playing</h1>
{{#if currentUser}}
    <form action="/search" method="GET">
        <input type="search" autocomplete="off" name="term" class="form-control mr-sm-2" placeholder="Search for Song">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Song</button>
    </form>
{{/if}}
<div class="feed">
    {{#each songs}}
        <div class="share">
            <img src="{{this.album.images.[0].url}}" alt="album art" width="100" height="100">
            "{{this.name}}" by
            {{#each this.artists}}
                {{this.name}}
            {{/each}}
            Shared by {{this.userID.username}}
            {{#ifEquals ../currentUser._id this.userID._id}}
                <button class="delete-button" data-spotify-song-id={{this.id}} data-user-id={{this.userID._id}} type="button" name="delete">Delete</button>
            {{/ifEquals}}
            <hr>
        </div>
    {{/each}}
</div>
