{{#ifEquals action "Sign Up"}}
    <form class="signup-form" action="/signup" method="post">
        {{else}}
            <form class="edit-form" action="/edit-profile" method="post">
{{/ifEquals}}
<label for="username">Username</label>
<input type="text" name="username" value="{{currentUser.username}}">

<label for="name">Name</label>
<input type="text" name="name" value="{{currentUser.name}}">


<label for="email">Email</label>
<input type="email" name="email" value="{{currentUser.email}}">

<label for="password">Password</label>
<input type="password" name="password" value="">

<button type="submit" name="button">{{action}}</button>
</form>
